/*This will hold the styles for our buttons!*/
.btn {position: absolute;}

/*menu button*/
#menu {width: 45px; height: 40px; left: 596px; top: 20px; background-image: url(/Images/MenuIcon.png); background-size: 45px 40px; padding: 0; border: none; background-color: transparent;}

/*goals button*/
#goals {width: 53px; height: 44px; left: 596px; bottom: 82px; background-image: url(/Images/GoalsIcon.png); background-size: 53px 44px; padding: 0; border: none; background-color: transparent;}

/*pet button*/

/*shop button*/

/*resources button*/
